<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Portfolio" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Portfolio">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
  </head>

  <body>
      <!-- Navigation Links -->
    <nav class="hidden md:flex flex-1 justify-center space-x-8">
      <!-- Logo -->
        <div class="flex-shrink-0">
          <a href="#" class="text-xl font-bold text-blue-600">w$l.tech</a>
        </div>

      <%= link_to "Home", root_path, class: "hover:text-white px-3 py-2 rounded-md text-sm font-medium"%>
      <%= link_to "Sobre", page_about_path, class: "hover:text-white px-3 py-2 rounded-md text-sm font-medium"%>
    </nav>

    <button onclick="toggleDarkMode()" 
  class="fixed top-5 left-3 bg-gray-200 dark:bg-gray-800 text-black dark:text-white px-4 py-2 rounded shadow">
  🌙 / ☀️
</button>
    <%= yield %>
  </body>
</html>
